.apre {
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    position: absolute;
    width: 1440px;
    height: 114px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #63562B 0%, rgba(99, 86, 43, 0) 100%);
}

.menu {

    position: absolute;
    width: 1024px;
    height: 25px;
    left: 0px;
    top: 90px;

    background: #63562B;
}
.prof{
    position: absolute;
    width: 99px;
    height: 63px;
    left: 218px;
    top: 14px;

background: url(oiprof.png);


}

.lateral{
    position: absolute;
    width: 219px;
    height: 1227px;
    left: 0px;
    top: 115px;
    
    background: linear-gradient(180deg, #63562B 0%, rgba(99, 86, 43, 0) 100%);

}


body{
    background-color:rgba(160, 149, 100);
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
}
h3{
    
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
       
}



.img{
    width: 100px;    
}
.img4{
    width: 120px;    
}
.img5{
    width: 25%;    
}
.img2{
    width: 50%;    
}
.img3{
    width: 150px;    
}

.turma{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 22px;
    top: 175px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

.turma2{
    position: absolute;
    width: 103px;
    height: 24px;
    left: 22px;
    top: 419px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    
    color: #FFFFFF;
}
.lateral {
position: absolute;
width: 287px;
height: 781px;
left: 1px;
top: 148px;
background: linear-gradient(180deg, #42380A 37.5%, rgba(66, 56, 10, 0) 100%);

}

.bloco {
    display: block;
}
.itens {
    

    position: absolute;
    width: 587px;
    height: 1227px;
    left: 218px;
    top: 115px;


}
footer{
    position: absolute;
width: 1024px;
height: 25px;
left: 0px;
top: 1342px;

background: #63562B;
}
.lista {
    
    font-family: 'Lucida Sans';
    font-size: small; 
    text-align: left;
    font-size: 12px;
    color:rgb(66, 56, 10);
   
    position: absolute;
    width: 1024px;
    height: 73px;
    left: 0px;
    top: 1367px;    
    background: linear-gradient(180deg, rgba(99, 86, 43, 0) 0%, #63562B 100%);

}