.img{
    width: 200px;
    
}

.boasvindas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small; 
       color: #31a74e;
    text-align: center;
    display: inline;
}
.linha {

    display: inline;
    
}
.bloco {
    display: block;
        
}